@font-face {
        font-family: "BYekan";
        src: url("../fonts/BYekan-webfont.eot") format("eot"),
            url("../fonts/BYekan-webfont.woff") format("woff"),
            url("../fonts/BYekan-webfont.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
html {
overflow-x: hidden;
}
body {
margin: 0;
padding: 0;
font-family: "BYekan";
word-spacing: -1px;
background-color: #f2f2f2;
}
    
/***********Default setting************/

a:link,
a:hover,
a:active {
text-decoration: none;
outline: 0 !important;
}
ul {
list-style: none !important;
list-style-type: none !important;
margin: 0;
padding: 0;
}
img {
max-width: 100%;
}


body{
    background-image: url("/img/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* style part home */

.headers{
    display: flex;
    background-color: rgb(85, 85, 85);
    margin: 20px 5%;
    border-radius: 50px;
    width: 90%;
}
.headerStartRigth{
    background-color: red;
}
.headerStartCenter{
    background-color: green;
}
.headerStartLeft{
    background-color: blue;
    width: 100%;
}
.headerStartLeft a{
    margin: auto;
    color: black;
    font-size: 1.3pc;
    padding: 0px 20px;
    direction:;
}
.headerStartRigth ul{
    display: flex;
    margin: 20px;
}
.headerStartRigth li{
    color: black;
    font-size: 1.2pc;
    padding: 10px;
}
.headerStartCenter input{
    height: 5vh;
    margin: 15px 0px;
    border-radius: 50px;
    border: none;
    text-align: center;
}
/*
.headerStart a{
    margin: auto;
    color: black;
    font-size: 1.3pc;
    padding: 0px 20px;
} */
